<header class="header">
  <nav id="navbar-example2" class="navbar navbar-light header-navbar">
    <a class="navbar-brand">Josh Technologies</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link">Play</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Connect</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Apply</a>
      </li>
    </ul>
  </nav>

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./app/assets/img/Untitled-1_03.png" class="slide-images" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./app/assets/img/Untitled-2_03.png" class="slide-images" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</header>
