.header {
  min-height: 60px;
  .header-navbar {
    background-color: transparent;
    z-index: 1;
    color: #CDF2F2;
    cursor: pointer;
  }
  .nav-link {
    font-size: 12px !important;
  }
  .navbar-brand {
    font-weight: 600;
  }
  .navbar {
    position: absolute !important;
    width: 100%;
    top: 0px;
  } 
  .picsum-img-wrapper {
    .slide-images {
      width: 100%;
      height: 250px;
    }
  }
}

@media screen and (max-width: 772px) {
  .nav-link {
    padding: 5px 2px !important;
    font-size: 12px !important;
  }
  .nav-item {
    margin: 0 2px;
  }
  .navbar-brand {
    font-size: 16px;
    font-weight: 600;
  }
}
